property/*
pf2e-master*
PF2e_MT_Framework.code-workspace
PF2e_MT_Framework.mtlib
SF2e_MT_Framework.mtlib
library/public/data/*
library/public/lang_data/*
*.cmpgn
TODO.txt
testData/*
diffChecks/*
pf2e_data/*
sf2e_data/*
pf2e_lang/*
sf2e_lang/*
library/public/pf2e_data/*
library/public/sf2e_data/*