body	{
		background-color: #efefef;
		font-size: 12pt; color: #000000
		}
.oddRow {  }
.evenRow { background-color: #c2d4b2 }
#stats th { }
p	{
	padding: 3px;
	margin: 3px;
	font-size: 12pt; color: #000000;
	text-indent: 50px;
	}
.topbar	{
	border-bottom: 1px solid gray;
	padding:0px;
	margin:0px;
	font-family:sans;
	font-size:10px;
	background-color:white
	}
.paragraph
	{
	padding: 0px;
	margin-left: 10px;
	font-size: 12pt; color: #000000	
	}
.chapter
	{
	margin: 1px;
	margin-top: 8px;
	margin-left: 5px;
	padding: 0px;
	font-size: 12pt; color: #077053	
	}
.section
	{
	margin: 1px;
	margin-left: 15px;
	padding: 0px;
	font-size: 12pt; color: #000000	
	}
h1	{
	padding: 3px;
	padding-top: 0px;
	margin: 3px;
	font-weight: regular; 
	font-size: 28pt;
	color: #077053;
	font-variant: small-caps;
	font-family: sans;
	}
h2	{
	padding-left: 3px;
	padding-top: 6px;
	padding-bottom: 0px;
	margin: 3px;
	margin-bottom: 0px;
	font-weight: regular; 
	font-size: 24pt;
	color: #077053;
	font-family: sans;
	font-variant: small-caps;
	}
h3	{
	padding-left: 3px;
	padding-top: 6px;
	padding-bottom: 0px;
	margin: 3px;
	margin-bottom: 0px;
	font-weight: regular; 
	font-size: 22pt;
	color: #077053;
	font-variant: small-caps;
	font-family: sans;
	border-bottom: 2px solid #aeaeae;
	}
h4	{
	padding-left: 2px;
	padding-top: 6px;
	padding-bottom: 0px;
	margin: 2px;
	margin-bottom: 0px;
	font-weight: regular; 
	font-size: 18pt;
	color: #077053;
	font-variant: small-caps;
	font-family: sans;
	}
h5	{
	padding-left: 3px;
	padding-top: 6px;
	padding-bottom: 0px;
	margin: 2px;
	margin-bottom: 0px;
	font-weight: bold; 
	font-size: 14pt;
	color: #000000;
	font-variant: small-caps;
	font-family: sans;
	}
h6	{
	padding: 2px;
	margin: 2px;
	font-weight: Bold; 
	font-size: 12pt; color: #000000
	font-variant: small-caps;
	text-align: left;
	}
a	{
	text-decoration: none;
	color: #00825e;
	}
ul	{
	margin-top: 10;
	margin-bottom: 10;
	margin-left: 25;
	}
ol	{
	margin-top: 10;
	margin-bottom: 10;
	margin-left: 25;
	}
li	{
	margin-top: 3;
	margin-bottom: 3;
	margin-left: 5;
	font-size: 12pt; color: #000000
	}
blockquote
	{
	padding: 8px;
	margin: 8px;
	background-color: #ffffff;
	border-top: 0px solid #aeaeae;
	border-bottom: 0px solid #aeaeae;
	border-left: 6px solid #aeaeae;
	border-right: 0px solid #aeaeae;
	}
div
	{
	padding: 5px;
	margin: 10px;
	background-color: #d8ece6;
	border-top: 2px solid #136f55;
	border-bottom: 2px solid #136f55;
	border-left: 2px solid #136f55;
	border-right: 2px solid #136f55;
	}
.code
	{
	padding: 5px;
	margin: 10px;
	background-color: #ffffff;
	border-top: 0px solid #ABB3A1;
	border-bottom: 0px solid #ABB3A1;
	border-left: 0px solid #ABB3A1;
	border-right: 0px solid #ABB3A1;
	}
code	{
	font-size: 12pt; color: #136f55
	}
table	{
	margin: 5px;
	width: 100%;
	font-size: 12pt; color: #000000;
	}
td	{
	margin-left: 3px;
	}	
th	{
	padding-left: 3px;
	text-align: left;
	}

.bg	{
	background-color: #bdd9d1;
	}